<%- include("layout/header.ejs") %>
  <main>
    <h1>Welcome Here</h1>
    <p>
      <h3>Mahadeb Kumar Das</h3>
      <h5>Faridpur, Dhaka, Bangladesh</h5>
    </p>
  </main>
<%- include("layout/footer.ejs") %>